<div class="covid-country-container">
  <div class="covid-country-wrapper">
    <div class="covid-country-content">
      <h1 class="app-title">Covid App</h1>
      <div class="covid-country-info">
        <form class="search-country-form">
          <label>Pesquisar país:</label>
          <input type="text" placeholder="Digite o nome do país" [(ngModel)]="buscarPaises" name="buscarPaises"/>
          <button class="btn-buscar-pais" (click)="getCountryData()">Buscar</button>
          <p><span class="highlight">Último país buscado: </span>{{lastCountry}}</p>
        </form>
        <div class="search-country-info">
          <h1><span class="highlight">País:</span> {{countryData.country}}</h1>
          <p><span class="highlight">Casos: </span>{{countryData.cases | number}}</p>
          <p><span class="highlight">Confirmados: </span>{{countryData.confirmed | number}}</p>
          <p><span class="highlight">Recuperados:</span>{{countryData.recovered | number}}</p>
          <p><span class="highlight">Mortes: </span>{{countryData.deaths | number}}</p>
        </div>
      </div>
      <div class="covid-country-card-wrapper">
        <div class="covid-country-card" *ngFor="let data of covidCountryData.data">
          <h1>{{data.country}}</h1>
          <p><span class="subject">Casos:</span> {{data.cases}}</p>
          <p><span class="subject">Confirmados:</span> {{data.confirmed}}</p>
          <p><span class="subject">Mortes:</span> {{data.deaths}}</p>
          <p><span class="subject">Recuperados:</span> {{data.recovered}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
